body {
    background-color: #121212;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-bottom: 2px solid #6688ad;
  }

  h2 {
    margin: 0;
  }

  select {
    background-color: #6688ad;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  select:hover {
    background-color: #7ca6d3;
  }

  .contentArea {
    display: flex;
    justify-content: center;
  }

  .display {
    background-color: #2a2a2a;
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #6688ad;
    display: flex;
    width: fit-content;
  }

  .flags {
    flex: 50%;
    padding-right: 30px;
    width: 236px;
  }

  img .flag {
    width: 236px;
    height: 162px;
  }

  .buttons {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-top: 2px solid #6688ad;
    border-bottom: 2px solid #6688ad;
  }

  label {
    color: #ccc;
    font-weight: bold;
  }

  input[type="radio"] {
    margin-right: 10px;
  }

  button {
    background-color: #6688ad;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #7ca6d3;
  }